

<div ng-controller="ConnectionHelpController" class="container" style="margin-top : 10%">

  <form novalidate class="simple-form">

    <div class="row">
        <div class="col-xs-3 col-xs-offset-3">
            <label>Name: </label>
        </div>
        <div class="col-xs-3 ">
            <input type="text" ng-model="asso.name" />
        </div>
    </div>


    <div class="row">
        <div class="col-xs-3 col-xs-offset-3">
            <label>Adress</label>
        </div>
        <div class="col-xs-3 ">
            <input type="text" ng-model="asso.adress" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3 col-xs-offset-3">
            <label>Password</label>
        </div>
        <div class="col-xs-3 ">
            <input type="password" ng-model="user.password" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3 col-xs-offset-3">
            <label>Ressources</label>
        </div>
        <div class="col-xs-3 ">
            <select name="ressourceSelect" ng-model="asso.ressources" class = "btn btn-sm">
            	<option value="food">Food</option>
      			<option value="money">$Money$</option>
      			<option value="drugs">Drugs</option>
    		</select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3 col-xs-offset-3">
            <input type="submit" class="btn btn-primary btn-xl page-scroll" ng-click="update(user)" value="Save" />
        </div>
    </div>
     
    

  </form>



</div>

