<%if (!req.user) { %>
<header style="margin-top: 25%" ng-controller="HomeCtrl">
        <div class="header-content">
            <div class ="row">
              <div class="col-xs-6">
                <div class="header-content-inner">
                  <a href="" ng-click="openRefugeeDialog()" class="btn btn-primary">Refugee Dialog</a>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="header-content-inner">
                    <a href="" ng-click="openDefault()" class="btn btn-primary">Je suis bénévole</a>
                </div>
              </div>
            </div>
        </div>
</header>
<% } else { %>
    plop

<% } %>

<!-- Templates -->
    
<script type="text/ng-template" id="HelperOrAssoDialog">
      

        <div class="ngdialog-buttons">
            <div clas="row">
                <div class="col-xs-3 col-xs-offset-2">
                    <button type="button" ng-click="openHelperDialog()" class="ngdialog-button ngdialog-button-primary" >Particulier</button>
                </div>
                <div class="col-xs-3 col-xs-offset-2">
                    <button type="button" ng-click="openAssoDialog()" class="ngdialog-button ngdialog-button-primary" ng-click="openSecond()">Association</button>
                </div>
            </div>
        </div>
</script>

<script type="text/ng-template" id="RefugeeDialog">

    <div clas="row" style="display: -webkit-box;">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <form novalidate class="simple-form">

                <div class="row">
                    <h2>
                        Sign In
                    </h2>
                </div>

                <div class="row">
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <label>Email : </label>
                    </div>
                    <div class="col-xs-6 ">
                        <input type="email" ng-model="user.email" />
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-6">
                        <label>Password :</label>
                    </div>
                    <div class="col-xs-6 ">
                        <input type="password" ng-model="user.password" />
                    </div>
                </div>

                <div class="row">
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <div class="ngdialog-buttons">
                            <input type="submit" class="ngdialog-button ngdialog-button-primary" ng-click="connectRefugee(user)" value="Connect" />
                        </div>
                        
                    </div>
                </div>
             
            </form>
        </div>

        <div class="col-sm-12 col-md-6" style="border-left: thick solid #066DD4">
            <form novalidate class="simple-form">

                <div class="row">
                    <h2>
                        Sign Up <br/>
                        <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                    </h2>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <label>First Name : </label>
                    </div>
                    <div class="col-xs-6 ">
                        <input type="text" ng-model="user.firstName" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <label>Last Name : </label>
                    </div>
                    <div class="col-xs-6 ">
                        <input type="text" ng-model="user.lastName" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <label>Email : </label>
                    </div>
                    <div class="col-xs-6 ">
                        <input type="email" ng-model="user.email" />
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-6">
                        <label>Gender : </label>
                    </div>
                    <div class="col-xs-3 ">
                        <label><input type="radio" ng-model="user.gender" value="male" />  male</label>
                    </div>
                    <div class="col-xs-3 ">
                        <label><input type="radio" ng-model="user.gender" value="female" />  female</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <label>Birth date :</label>
                    </div>
                    <div class="col-xs-6 ">
                        <input type="date" ng-model="user.birthDate" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <label>Password :</label>
                    </div>
                    <div class="col-xs-6 ">
                        <input type="password" ng-model="user.password" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="ngdialog-buttons">
                            <input type="submit" class="ngdialog-button ngdialog-button-primary" ng-click="create(user)" value="Create Account" />
                        </div>
                    </div>
                </div>
             
            </form>
        </div>
    </div>
      

</script>

<script type="text/ng-template" id="HelperDialog">

    <div clas="row" style="display: -webkit-box;">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <form novalidate class="simple-form">

                <div class="row">
                    <h2>
                        Sign In
                    </h2>
                </div>

                <div class="row">
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <label>Email : </label>
                    </div>
                    <div class="col-xs-6 ">
                        <input type="email" ng-model="user.email" />
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-6">
                        <label>Password :</label>
                    </div>
                    <div class="col-xs-6 ">
                        <input type="password" ng-model="user.password" />
                    </div>
                </div>

                <div class="row">
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <div class="ngdialog-buttons">
                            <input type="submit" class="ngdialog-button ngdialog-button-primary" ng-click="connectHelper(user)" value="Connect" />
                        </div>
                        
                    </div>
                </div>
             
            </form>
        </div>

        <div class="col-sm-12 col-md-6" style="border-left: thick solid #066DD4">
            <form novalidate class="simple-form">

            <div class="row">
                    <h2>
                        Sign Up
                    </h2>
                </div>

            <div class="row">
                <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <label> First Name : </label>
                </div>
                <div class="col-xs-6 ">
                    <input type="text" ng-model="helper.firstName" />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <label> Last Name : </label>
                </div>
                <div class="col-xs-6 ">
                    <input type="text" ng-model="helper.lastName" />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <label>Email : </label>
                </div>
                <div class="col-xs-6 ">
                    <input type="email" ng-model="helper.email" />
                </div>
            </div>


            <div class="row">
                <div class="col-xs-6">
                    <label>Password : </label>
                </div>
                <div class="col-xs-6 ">
                    <input type="password" ng-model="helper.password" />
                </div>
            </div>

            <div class="row">
                <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <input type="submit" class="btn btn-primary btn-xl page-scroll" ng-click="update(user)" value="Create" />
                </div>
            </div>
             
            

          </form>
        </div>
    </div>
      

</script>

<script type="text/ng-template" id="AssoDialog">

    <div clas="row" style="display: -webkit-box;">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <form novalidate class="simple-form">

                <div class="row">
                    <h2>
                        Sign In
                    </h2>
                </div>

                <div class="row">
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <label>Name : </label>
                    </div>
                    <div class="col-xs-6 ">
                        <input type="text" ng-model="asso.name" />
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-6">
                        <label>Password :</label>
                    </div>
                    <div class="col-xs-6 ">
                        <input type="password" ng-model="asso.password" />
                    </div>
                </div>

                <div class="row">
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                    <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <div class="ngdialog-buttons">
                            <input type="submit" class="ngdialog-button ngdialog-button-primary" ng-click="connectAsso(asso)" value="Log in" />
                        </div>
                        
                    </div>
                </div>
             
            </form>
        </div>

        <div class="col-sm-12 col-md-6" style="border-left: thick solid #066DD4">
            <form novalidate class="simple-form">

            <div class="row">
                    <h2>
                        Sign Up
                    </h2>
                </div>

            <div class="row">
                <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <label> Name : </label>
                </div>
                <div class="col-xs-6 ">
                    <input type="text" ng-model="asso.name" />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <label>Email : </label>
                </div>
                <div class="col-xs-6 ">
                    <input type="email" ng-model="asso.email" />
                </div>
            </div>


            <div class="row">
                <div class="col-xs-6">
                    <label>Adress : </label>
                </div>
                <div class="col-xs-6 ">
                    <input type="text" ng-model="asso.adress" />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <label>Password : </label>
                </div>
                <div class="col-xs-6 ">
                    <input type="password" ng-model="asso.password" />
                </div>
            </div>

            <div class="row">
                <hr style="color: rgba(255,255,255,0); border-top:1px solid rgba(0, 0, 0, 0)"/>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <input type="submit" class="btn btn-primary btn-xl page-scroll" ng-click="update(asso)" value="Create" />
                </div>
            </div>
             
            

          </form>
        </div>
    </div>
      

</script>